@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: #fff;
  min-height: 100vh;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

img {
  max-width: 100%;
}

a,
button {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
a:active,
button:active {
  -webkit-transform: scale(0.98);
     -moz-transform: scale(0.98);
      -ms-transform: scale(0.98);
       -o-transform: scale(0.98);
          transform: scale(0.98);
}
a:hover,
button:hover {
  opacity: 0.8;
}

section {
  padding: 80px 0;
  position: relative;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  color: #1C2529;
  padding: 15px 20px;
  background-color: #FDD05A;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  min-width: 240px;
}
.btn span {
  display: block;
  opacity: 0.5;
}
.btn-menu {
  display: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 1;
  -webkit-transform: scale(0.95);
     -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
       -o-transform: scale(0.95);
          transform: scale(0.95);
}
.btn[disabled] {
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(253, 208, 90, 0.3);
  cursor: unset;
  -webkit-animation: none;
     -moz-animation: none;
       -o-animation: none;
          animation: none;
}
.btn.loading {
  opacity: 0.8;
  color: transparent;
}
.btn.loading::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  max-height: 90%;
  background-image: url("../img/ajax-loader.gif");
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn.loading::after {
  display: none;
}

strong, b {
  font-weight: 700;
}

input,
textarea,
select {
  resize: none;
  display: block;
  width: 100%;
  max-width: 400px;
  height: 40px;
  background: transparent;
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  padding: 0 2px;
  text-align: left;
  color: #1C2529;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-bottom: 1px solid #eee;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: rgba(28, 37, 41, 0.5);
  font-weight: 300;
}
input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
  color: rgba(28, 37, 41, 0.5);
  font-weight: 300;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(28, 37, 41, 0.5);
  font-weight: 300;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: rgba(28, 37, 41, 0.5);
  font-weight: 300;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: rgba(28, 37, 41, 0.5);
  font-weight: 300;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: rgba(28, 37, 41, 0.5);
  font-weight: 300;
}

select {
  cursor: pointer;
  background-image: url("../img/arrow_down-black.svg");
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-background-size: 24px 24px;
     -moz-background-size: 24px 24px;
       -o-background-size: 24px 24px;
          background-size: 24px 24px;
  padding-right: 30px;
  position: relative;
  z-index: 1;
}

.heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

ul {
  list-style-type: none;
}
ul li {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-left: 30px;
  margin: 0 0 10px;
  position: relative;
}
ul li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 14px;
  width: 2px;
  height: 2px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
}

mark {
  background-color: rgba(71, 76, 198, 0.5);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-box-shadow: 0px 10px 0px -2px #292D8C;
     -moz-box-shadow: 0px 10px 0px -2px #292D8C;
          box-shadow: 0px 10px 0px -2px #292D8C;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  z-index: 1;
  color: #fff;
}
mark::before {
  content: "";
  display: block;
  width: -webkit-calc(100% - 24px);
  width: -moz-calc(100% - 24px);
  width: calc(100% - 24px);
  height: -webkit-calc(100% - 24px);
  height: -moz-calc(100% - 24px);
  height: calc(100% - 24px);
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  position: absolute;
  top: 11px;
  left: 12px;
  border: 2px solid rgba(41, 45, 140, 0.5);
}

.green {
  background-color: rgba(105, 255, 183, 0.5);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-box-shadow: 0px 10px 0px -2px #016e39;
     -moz-box-shadow: 0px 10px 0px -2px #016e39;
          box-shadow: 0px 10px 0px -2px #016e39;
}
.green::before {
  border-color: #005e30;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    max-width: 1100px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    padding: 0 15px;
  }
  ol.styled {
    padding: 16px 16px 16px 42px;
  }
  mark {
    -webkit-box-shadow: 0px 4px 0px #292D8C;
       -moz-box-shadow: 0px 4px 0px #292D8C;
            box-shadow: 0px 4px 0px #292D8C;
  }
  .green {
    -webkit-box-shadow: 0px 4px 0px #008343;
       -moz-box-shadow: 0px 4px 0px #008343;
            box-shadow: 0px 4px 0px #008343;
  }
}
header,
.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  padding: 40px 0;
  color: #fff;
}
header .logo {
  font-size: 24px;
  font-weight: 700;
}
header .socials a {
  display: inline-block;
  margin: 0 8px;
}
header .socials img {
  max-width: 30px;
}
@media screen and (max-width: 700px) {
  header {
    padding: 30px 0;
  }
  header .logo {
    font-size: 20px;
  }
  header .socials {
    display: none;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 90px;
    text-align: center;
  }
  header .socials a {
    width: 48%;
    margin: 0 0 8px;
  }
  header .btn-menu {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 34px;
    margin: 0;
    background-color: transparent;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    position: relative;
    z-index: 999999999;
  }
  header .btn-menu span {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
    height: 2px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #fff;
  }
  header .btn-menu span::before, header .btn-menu span::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    left: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
  }
  header .btn-menu span::after {
    top: -8px;
  }
  header .btn-menu.active span {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
       -moz-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
         -o-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #fff;
  }
  header .btn-menu.active span::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
       -moz-transform: translate(-50%, -50%) rotate(-90deg);
        -ms-transform: translate(-50%, -50%) rotate(-90deg);
         -o-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
    background-color: #fff;
  }
  header .btn-menu.active span::after {
    background-color: transparent;
  }
}

.start {
  background-color: #fff;
  color: #1C2529;
  padding: 0px 0 120px;
  position: relative;
  z-index: 100;
}
.start::before {
  position: relative;
  content: "";
  display: block;
  background-color: #1C2529;
  height: 128px;
  -webkit-border-radius: 0px 0px 140px 0px;
     -moz-border-radius: 0px 0px 140px 0px;
          border-radius: 0px 0px 140px 0px;
  margin-bottom: 120px;
}
.start .container {
  background-image: url("../img/watermark_dark.svg");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: 415px auto;
     -moz-background-size: 415px auto;
       -o-background-size: 415px auto;
          background-size: 415px auto;
}
.start .headline {
  max-width: 560px;
  text-align: left;
  margin-bottom: 16px;
}
.start .textline {
  max-width: 570px;
  text-align: left;
  margin-bottom: 60px;
}
.start .wrapper {
  max-width: 560px;
}
.start .rules {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.7;
}
.start .col {
  max-width: 450px;
}
.start form {
  max-width: 830px;
}
.start form .inp-wrap {
  width: 100%;
}
.start .cost {
  margin: 0 auto 15px 0;
}
.start .cost__descr {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.7;
  line-height: 26px;
}
.start .cost__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.start .btn {
  margin: 15px 30px 15px 0;
}
.start.type_3 {
  padding: 0;
}
.start.type_3::before {
  margin: 0;
}
.start.type_3 .container {
  padding: 0 15px;
  background-image: none;
}
.start.type_3 .start-img {
  max-width: 40%;
}
.start.type_2 .container {
  background-image: none;
}
.start.type_2 .col {
  margin: 0 auto 0 0;
}
.start.type_2 .col .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background-color: #1C2529;
  text-align: center;
  padding: 40px 0;
  margin: auto 0 0;
}
footer .logo {
  display: block;
  max-width: 200px;
  margin: 0 auto 60px;
}
footer .social {
  margin: 0 0 60px;
}
footer .copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.7;
}

@media screen and (max-width: 1170px) {
  .start::before {
    height: 124px;
    z-index: 1;
  }
  .start .container {
    -webkit-background-size: 40% auto;
       -moz-background-size: 40% auto;
         -o-background-size: 40% auto;
            background-size: 40% auto;
    background-position: center right 40px;
  }
  .start .headline {
    margin-bottom: 8px !important;
  }
  .start .headline,
.start .textline {
    max-width: 330px;
  }
  .start .textline {
    margin-bottom: 30px;
  }
  .start form {
    max-width: 330px;
  }
  .start form .wrapper {
    display: block;
  }
  .start form .rules {
    margin: 0;
    padding-top: 15px;
  }
  .start.type_2 .textline {
    max-width: 570px;
  }
  .start.type_2 form {
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .start::before {
    margin-bottom: 60px;
    height: 100px;
  }
  .start .container {
    background-image: none;
  }
  .start .headline,
.start .textline,
.start form {
    max-width: 100%;
  }
  .start .headline .col,
.start .textline .col,
.start form .col {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
       -moz-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .start .headline .col .wrapper,
.start .textline .col .wrapper,
.start form .col .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .start .headline .inp-count,
.start .textline .inp-count,
.start form .inp-count {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
       -moz-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .start .headline .btn,
.start .textline .btn,
.start form .btn {
    width: 100%;
    margin: 0;
  }
  footer .social,
footer .logo {
    margin-bottom: 40px;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999999;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.modal-content {
  width: 94%;
  min-height: 100px;
  max-height: 95%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 664px;
  overflow-y: scroll;
  color: #1C2529;
  text-align: left;
  -webkit-border-radius: 24px;
     -moz-border-radius: 24px;
          border-radius: 24px;
  padding: 32px;
}
.modal-content::before {
  display: none;
}
.modal-content .headline {
  font-size: 32px;
  line-height: 120%;
  max-width: unset;
}
.modal-content .textline {
  max-width: unset;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 40px;
}
.modal-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.modal-content .review__text {
  height: unset;
  max-height: unset;
}
.modal-content .review__text::after {
  content: "";
  display: none;
}
.modal-content .review__img {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 70px;
  height: 70px;
}
.modal-content .review__user {
  padding-left: 86px;
  margin-top: 12px;
}
.modal-content .review__descr {
  padding-left: 86px;
  margin-bottom: 28px;
}
.modal-close {
  position: absolute;
  top: 32px;
  right: 32px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  font-size: 20px;
  background-color: rgba(28, 37, 41, 0.2);
  color: #1C2529;
  width: 36px;
  height: 36px;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal.is-open {
  display: block;
}
.modal#modal-video .modal-content {
  overflow: visible;
  text-align: center;
  background-color: transparent;
  padding: 0;
}
.modal#modal-video .modal-content iframe {
  max-width: 100% !important;
  margin: 0;
}
.modal#modal-video .modal-close {
  color: #fff;
  top: -20px;
  right: -20px;
}
@media screen and (max-width: 1170px) {
  .modal-content {
    max-width: 400px;
    padding: 24px;
  }
  .modal-content .headline {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
  }
  .modal-content .textline {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .modal-content form {
    max-width: 100%;
  }
  .modal-content .btn {
    width: 100%;
  }
  .modal-close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
  .modal#modal-review .modal-content {
    max-width: 518px;
  }
  .modal#modal-review .modal-content .review__img {
    width: 60px;
    height: 60px;
    top: 24px;
    left: 24px;
  }
  .modal#modal-review .modal-content .review__user {
    margin-top: 9px;
    padding-left: 76px;
  }
  .modal#modal-review .modal-content .review__descr {
    padding-left: 76px;
    margin-bottom: 25px;
  }
  .modal#modal-video .modal-close {
    color: #fff;
    top: -30px;
    right: 0px;
  }
}
@media screen and (max-width: 700px) {
  .modal-content {
    max-width: 400px;
    padding: 17px 16px;
  }
  .modal-content .headline {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 3px;
  }
  .modal-content .textline {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .modal-close {
    top: 17px;
    right: 16px;
    font-size: 14px;
  }
  .modal#modal-review .modal-content .review__img {
    width: 48px;
    height: 48px;
    top: 16px;
    left: 16px;
  }
  .modal#modal-review .modal-content .review__user {
    margin-top: 5px;
    padding-left: 58px;
  }
  .modal#modal-review .modal-content .review__descr {
    padding-left: 58px;
    margin-bottom: 22px;
  }
}

main {
  background-color: #000;
  min-height: 650px;
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 1200px auto;
     -moz-background-size: 1200px auto;
       -o-background-size: 1200px auto;
          background-size: 1200px auto;
  position: relative;
  z-index: 1;
  padding: 0 0 60px;
}
main::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}
main h1 {
  margin: 0;
  padding: 90px 0 0;
  font-weight: 900;
  line-height: 110%;
  font-size: 90px;
  color: #fff;
  text-align: center;
}
main .upper {
  text-transform: uppercase;
  font-style: italic;
  padding-top: 40px;
  line-height: 125%;
  display: block;
}
main .round {
  display: inline-block;
  font-style: normal;
  border: 3px solid #FFF500;
  -webkit-border-radius: 300px;
     -moz-border-radius: 300px;
          border-radius: 300px;
  padding: 0px 30px;
  color: #FFF500;
}

.marquee {
  background-color: #FFF500;
  border: 1px solid #000000;
  padding: 13px 0 12px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  gap: 1rem;
}
.marquee-content {
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: scroll 10s linear infinite;
     -moz-animation: scroll 10s linear infinite;
       -o-animation: scroll 10s linear infinite;
          animation: scroll 10s linear infinite;
  overflow: hidden;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.marquee:hover .marquee-content {
  -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
       -o-animation-play-state: paused;
          animation-play-state: paused;
}
.marquee li {
  font-weight: 700;
  font-size: 31px;
  line-height: 150%;
  margin: 0;
}

.item {
  width: 49.5%;
  margin: 0 0 20px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border: 1px solid transparent;
}
.item:hover {
  opacity: 1;
}
.item img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.item-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  padding: 60px 50px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
       -o-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #fff;
}
.item__heading {
  font-weight: 600;
  margin: 0 0 20px;
  font-size: 30px;
}
.item .btn {
  position: absolute;
  left: 50px;
  bottom: 70px;
}
.item:hover {
  border-color: #eee;
}
.item:hover .item-body {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

.filter-btn {
  background-color: transparent;
  color: #000;
  font-size: 20px;
  background-image: url("../img/filter.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding: 2px 0 2px 30px;
}

.projects {
  padding: 60px 20px;
  max-width: 1800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  position: relative;
  z-index: 1;
}
.projects .container {
  margin-bottom: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-webkit-calc(-100% - 1rem));
            transform: translateX(calc(-100% - 1rem));
  }
}

@-moz-keyframes scroll {
  from {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
  to {
    -moz-transform: translateX(-moz-calc(-100% - 1rem));
         transform: translateX(calc(-100% - 1rem));
  }
}

@-o-keyframes scroll {
  from {
    -o-transform: translateX(0);
       transform: translateX(0);
  }
  to {
    -o-transform: translateX(calc(-100% - 1rem));
       transform: translateX(calc(-100% - 1rem));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-webkit-calc(-100% - 1rem));
       -moz-transform: translateX(-moz-calc(-100% - 1rem));
         -o-transform: translateX(calc(-100% - 1rem));
            transform: translateX(calc(-100% - 1rem));
  }
}
@media screen and (max-width: 1500px) {
  main {
    min-height: 500px;
    -webkit-background-size: 1100px auto;
       -moz-background-size: 1100px auto;
         -o-background-size: 1100px auto;
            background-size: 1100px auto;
    background-position: bottom center;
  }
  main h1 {
    padding: 40px 0 0;
    font-size: 72px;
  }
}
@media screen and (max-width: 1200px) {
  main h1 {
    font-size: 74px;
  }
  .item {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  main {
    min-height: 600px;
    background-position: bottom left 100px;
  }
  main h1 {
    font-size: 52px;
    text-align: left;
  }
  main .upper {
    padding-top: 0px;
  }
}
@media screen and (max-width: 360px) {
  main h1 {
    font-size: 45px;
  }
}/*# sourceMappingURL=style.css.map */