$black: #1C2529
$black_upper: #374246
$yelow: #FDD05A
$blur: blur(0px)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&&display=swap')

body
    background-color: #fff
    min-height: 100vh
    color: #000
    font-family: 'Montserrat', sans-serif

.container
    width: 100%
    max-width: 1200px
    padding: 0 15px
    margin: 0 auto
    position: relative
    z-index: 1

img
    max-width: 100%

a,
button
    text-decoration: none
    color: #fff
    transition: all ease .3s
    &:active
        transform: scale(.98)

    &:hover
        opacity: .8

section
    padding: 80px 0
    position: relative

.btn
    font-weight: 600
    font-size: 16px
    line-height: 20px
    display: inline-block
    text-align: center
    color: $black
    padding: 15px 20px
    background-color: $yelow
    border-radius: 6px
    min-width: 240px
    span
        display: block
        opacity: .5

    &-menu
        display: none

    &:hover
        opacity: .9

    &:active
        opacity: 1
        transform: scale(.95)

    &[disabled]
        color: rgba(0, 0, 0, .2)
        background-color: rgba(#FDD05A, .3)
        cursor: unset
        animation: none

    &.loading
        opacity: .8
        color: transparent
        &::before
            content: ''
            display: block
            width: 20px
            height: 20px
            max-height: 90%
            background-image: url('../img/ajax-loader.gif')
            background-size: contain
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        &::after
            display: none

strong, b
    font-weight: 700

input,
textarea,
select
    resize: none
    display: block
    width: 100%
    max-width: 400px
    height: 40px
    background: transparent
    font-weight: 400
    font-size: 23px
    line-height: 32px
    padding: 0 2px
    text-align: left
    color: $black
    appearance: none
    border-bottom: 1px solid #eee
    &::placeholder
        color: rgba($black , .5)
        font-weight: 300

select
    cursor: pointer
    background-image: url('../img/arrow_down-black.svg')
    background-repeat: no-repeat
    background-position: center right
    background-size: 24px 24px
    padding-right: 30px
    position: relative
    z-index: 1

.heading
    font-weight: 600
    font-size: 40px
    line-height: 120%

ul
    list-style-type: none
    li
        font-weight: 400
        font-size: 24px
        line-height: 32px
        padding-left: 30px
        margin: 0 0 10px
        position: relative
        &::before
            content: ''
            display: inline-block
            position: absolute
            top: 13px
            left: 14px
            width: 2px
            height: 2px
            border-radius: 50%
            background-color: #fff

mark
    background-color: rgba(#474CC6, .5)
    backdrop-filter: $blur
    box-shadow: 0px 10px 0px -2px #292D8C
    border-radius: 10px
    display: inline-block
    padding: 10px 30px
    position: relative
    z-index: 1
    color: #fff
    &::before
        content: ''
        display: block
        width: calc( 100% - 24px )
        height: calc( 100% - 24px )
        border-radius: 10px
        position: absolute
        top: 11px
        left: 12px
        border: 2px solid rgba(#292D8C, .5)

.green
    background-color: rgba(#69ffb7, .5)
    backdrop-filter: $blur
    box-shadow: 0px 10px 0px -2px #016e39
    &::before
        border-color: #005e30

@keyframes fade
    0%
        opacity: 1
    100%
        opacity: 0

@media screen and ( max-width: 1500px )
    .container
        max-width: 1100px

@media screen and ( max-width: 1170px )
    .container

@media screen and ( max-width: 700px )
    .container
        padding: 0 15px

    ol
        &.styled
            padding: 16px 16px 16px 42px

    mark
        box-shadow: 0px 4px 0px #292D8C
    .green
        box-shadow: 0px 4px 0px #008343
