header,
.socials
    display: flex
    justify-content: space-between
    align-items: center

header
    padding: 40px 0
    color: #fff
    .logo
        font-size: 24px
        // text-transform: uppercase
        font-weight: 700
        // text-decoration: line-through

    .socials
        a
            display: inline-block
            margin: 0 8px
        img
            max-width: 30px

    @media screen and ( max-width: 700px )
        border-bottom: 1px solid #fff
        width: calc( 100% + 20px )
        position: relative
        left: -10px
        padding: 16px 10px
        .logo
            font-size: 15px
            max-width: 100px
            font-style: italic
            font-weight: 200
            &::first-line
                font-weight: 900

        .socials
            display: none
            flex-wrap: wrap
            max-width: 90px
            text-align: center
            a
                width: 48%
                margin: 0 0 8px

        .menu
            display: inline-block
            vertical-align: middle
            width: 38px
            height: 38px
            margin: 0
            opacity: 1 !important
            background-color: transparent
            position: relative
            z-index: 999999999
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background-image: url('../img/contacts.svg')
                background-repeat: no-repeat
                background-position: center center
                background-size: 85%
                transition: all ease .3s

            span
                position: absolute
                top: 45%
                right: 0
                display: block
                width: 35%
                height: 3px
                transition: all ease .3s
                border-radius: 2px
                background-color: #fff
                transform: translateY(-14%)
                border-radius: 4px
                &::before,
                &::after
                    content: ''
                    display: block
                    width: 85%
                    height: 3px
                    background-color: #fff
                    border-radius: 4px
                    position: absolute
                    top: 7px
                    right: 0
                    transition: all ease .3s
                    border-radius: 2px
                &::after
                    width: 75%
                    top: -7px

            &-active
                &::before
                    opacity: 0
                span
                    width: 80%
                    top: 50%
                    height: 2px
                    right: 50%
                    transform: translate(50%, -50%) rotate(-45deg)
                    &::before
                        width: 100%
                        top: 50%
                        right: 50%
                        height: 2px
                        transform: translate(50%, -50%) rotate(-90deg)
                        background-color: #fff
                    &::after
                        width: 100%
                        background-color: transparent
